.NavbarItems {
  background:  var(--white);
  padding: 0 !important;
}
#offcanvas-item a {
  font-family: 'IBM Plex Sans Thai', sans-serif;
}
.navbar-logo {
  font-family: 'Monoton', cursive;
  font-size: 30px;
  color: var(--pink);
  cursor: pointer;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
    position: absolute;
    right: 0;
    transform: translate(-150%,20%);
    font-size: 1.8rem;
    cursor: pointer;
  }
  .menu-icon .fa-times {
    color: var(--gray);
    font-size: 2rem;
  }
  .menu-icon .fa-bars {
    color: var(--gray);
    font-size: 2rem;
  }
}

.nav-links span {
  font-weight: 500;
  color: var(--black);
  position: relative;
  overflow: hidden;
  margin-right: 0px;
  font-size: 16px;
} .nav-links span:after {
  z-index: -1;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to right, var(--pinkPastel) 50%, var(--white) 50%);
  background-size: 220% 100%;
  background-position: right;
  transition: all 0.2s cubic-bezier(.09,.64,.49,.98)
} .nav-links span:hover:after {
  background-position: left;
} .nav-links span:hover {
  color: var(--black);
  transition: all 0.2s cubic-bezier(.09,.64,.49,.98)
}


/* 
.nav-links span {
  font-weight: 500;
  color: var(--black);
  border-bottom: 1px solid var(--white);
}.nav-links span:hover {
  color: var(--pink);
  border-bottom: 1px solid var(--pink);
  transition: all 0.2s cubic-bezier(.09,.64,.49,.98);
} 
*/

button.btn-close, button.btn-close:focus {
  color: var(--gray) !important;
  margin-right: 5px !important;
}
button.navbar-toggler {
  border: none !important;
  color: var(--white) !important;
  font-size: 30px;
}
button.navbar-toggler svg{
  color: var(--black) !important;
} button.navbar-toggler svg:hover, button.navbar-toggler svg:focus{
  color: var(--pink) !important;
}

/* ------------------- OFF CANVAS ------------------- */

#offcanvas-item {
  margin: 10px 20px !important;
} #offcanvas-item-spotify {
  margin: 5px 0 !important;
}

/* ------------------- DROPDOWN ------------------- */

#nav-dropdown {
  display: flex; align-items: center;
  font-weight: 500;
  letter-spacing: .5px;
  padding: 2px 10px;
  border-radius: 25px;
  color: var(--black);
  border: 2px solid var(--white);
} #nav-dropdown:hover, #nav-dropdown:focus {
  background-color: var(--pinkPastel);
  transition: all 0.2s cubic-bezier(.09,.64,.49,.98);
} 
.dropdown-menu {
  padding: 10px 10px !important;
} 

.dropdown-header {
  padding: 5px 5px !important;
}
#playlist-title {
  font-size: 16px ;
  font-weight: 500;
  color: var(--black);
}

.icon-dropdown {
  font-size: 28px;
  margin-bottom: 2px;
  margin-right: 5px;
  padding: 4px;
  border-radius: 50px;
  transition: all 0.25s;
  color: var(--white);
  background-color: var(--black);
} 

#logout {
  color: var(--pink);
  font-weight: 900 !important;
} #logout .icon-dropdown {
  color: var(--white);
  background-color: var(--pink);
}

a.dropdown-item#list {
  font-weight: 500 !important;
  padding: 7px 10px !important;
} a.dropdown-item#list:hover {
  border-radius: 5px;
  color: var(--black) !important;
  background-color: rgba(0, 0, 0, 0.048) !important;
}
a.dropdown-item {
  font-weight: 500 !important;
  padding: 5px !important;
} a.dropdown-item:hover {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.048) !important;
}

.dropdown-divider {
  margin: 10px 10px !important;
}


@media screen and (max-width: 992px) {
  #nav-dropdown {
    width: 150px !important;
    margin-left: -2px;
    padding-left: 0;
    border-radius: 0;
  }
  .dropdown-item {
    font-size: 14px !important;
  }
}

  

  