.card {
    border-radius: 10px !important;
    margin-bottom: 10px; 
/*} .card:hover { */
    border: none !important;
    /* border: 1px solid rgb(224, 224, 224) !important; */
    border-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 30px;
    cursor: text;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px; */
}
.card.spotify {
    cursor: text !important;
}
.card:hover {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 10px 50px;
    transition: all 0.5s cubic-bezier(.09,.64,.49,.98);
}

a:link, a:hover { /* LINK (in ResultSearch.js) */
    text-decoration: none !important;
}
.card-body {
    text-align: left;
    margin-left: 5px;
    margin-right: 5px;
}
.lyric .card-body {
    text-align: left;
    margin: 0;
}
.card-body button{
    padding: 0;
    text-align: left;
}
.title {
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: var(--gray);
    margin: 0;
    padding-bottom: 5px;
} #song:hover {
    color: var(--pink);
    text-decoration: underline solid var(--pink) 1px;
}

.artist-series {
    font-size: 12px;
    margin-top: 3px;
}.artist-series button{
    font-weight: 500;
    font-size: 12px;
    padding: 1px 7px;
    border-radius: 5px;
    color: var(--gray);
    background-color: rgba(0, 0, 0, 0.046);
} #artist:hover {
    background-color: var(--pinkLight);
}

.subtitle {
    font-size: 12px;
    font-weight: 400;
    color: var(--grayLight);
    margin: 0;
}#lyric.subtitle {
    font-size: 12px;
    font-weight: normal;
    color: var(--grayLight);
    margin-left: 0;
    margin-top: 5px;
} #lyric.subtitle span{
    margin: 0;
} 

.highlight, .highlightArtist {
    font-weight: 500;
    color: var(--pink);
    background: none;
    padding: 0px; 
}

.tagLevel * {
    height: auto;
    font-weight: 500;
    letter-spacing: .5px;
}
.tagLevel  {
    display: flex;
}
.tagLevel p{
    text-align: center;
    font-size: 12px;
    min-width: 120px;
    border-radius: 20px;
    margin: 10px;
    line-height: 90px;
}

@media screen and (max-width: 767px) {
    .tagLevel p {
        margin-bottom: 0;
        line-height: 30px;
    }
    .card {
        zoom: 88%;
        margin: 10px;
    }
    .lyric .card-body {
        padding-top: 7px;
    }
}

/* ----------------------------- ResultData.js ----------------------------- */

.artist-series-data {
    margin: 0px;
    padding-top: 0px;
    font-size: 16px;
}
.artist-series-data button{
    font-weight: 500;
    text-decoration: none;
    color: var(--gray);
}
.artist-series-data button:hover {
    color: var(--pink)!important;
    text-decoration: underline solid var(--pink) 1px;
}
.head-series {
    margin-bottom: 10px;
}

.tag-series span{
    padding: 2px 30px;
    border-radius: 25px;
    margin-bottom: 10px;
    font-weight: 500;
} #button-back {
    font-size: 18px;
    padding-bottom: 0px !important;
    color: var(--white);
    background: var(--pink);
} #button-back:hover {
    color: var(--white);
    background: var(--pink);
} #type {
    font-weight: 800;
    padding: 2px 20px;
    color: var(--pink);
    border: 1px solid  var(--pink);
}
.title-series, .sub-title-series {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 20px;
    border-radius: 10px;
} .title-series {
    color: var(--white);
    background: var(--black);
} .sub-title-series {
    font-size: 16px;
    color: var(--grayLight);
    border: 1px solid  var(--grayLight);
} 

/* --- ResultSearch --- */
.result-search {
    margin-top: 30px;
} @media screen and (max-width: 767px) {
    .result-search {
        margin-top: 0px;
    }
}

/* ----------------------------- ResultSearch & ResultData & SubData & Lyric .js ----------------------------- */

p#sub-data { 
    text-align: left;
    color: var(--grayLight);
    width: auto;
}

span#sub-data {
    font-weight: 500;
    color: var(--grayLight);
    margin-right: 5px;
} #sub-data:hover {
    color: none;
    border-bottom: none;
    cursor: text;
} 

.search-all {
    font-weight: 900;
    text-align: left;
    margin-bottom: 0;
    padding: 15px 10px 10px 20px;
} .search-all {
    color: var(--black);
    background-color: var(--white);
}

.bg-search-all {
    position: sticky;
    top: 111px;
    z-index: 3;
    border-radius: 0 0 50px 50px;
    padding-top: 10px;
    transition: all 0.2s cubic-bezier(.09,.64,.49,.98)
}

.search-all-load-more {
    text-align: left;
    padding: 10px 0px 10px 10px;
}.search-all-load-more button, .search-all-load-more button:focus {
    border-radius: 50px;
    padding: 3px 30px;
    border: 1px solid  var(--grayLight);
    color: var(--grayLight);
    transition: all 0.2s cubic-bezier(.09,.64,.49,.98);
}.search-all-load-more button:hover {
    border: 1px solid  var(--grayLight);
    background: var(--grayLight);
    color: var(--white);
}

#icon-lyric {
    font-size: 14px;
    margin-right: 10px;
    color: var(--white);
    background: var(--grayLight);
    border-radius: 50%;
    padding: 3px
}