.card {
    border-radius: 20px !important;
    margin-bottom: 10px; 
/*} .card:hover { */
    border: none !important;
    border-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 50px;
    cursor: pointer;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px; */
}
a:link, a:hover { /* LINK (in ResultSearch.js) */
    text-decoration: none;
}
.card-body {
    text-align: left;
    margin-left: 5px;
    margin-right: 5px;
}
.title {
    font-size: 22px;
    font-weight: 400;
    text-decoration: none;
    color: var(--gray);
    margin-right: 10px;

}button#song.title, button#artist.artist { /* BUTTONS (use navigate in ResultSearch.js) */
    padding: 0;
    text-align: left;
}
.artist { 
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    color: var(--gray);
    padding: 0;
    margin-right: 10px;

}button#data.artist span{ /* BUTTONS (use navigate in ResultData.js) */
    font-weight: 400;
    font-size: 20px;
    display: flex;
    text-align: left;
}
.subtitle {
    font-size: 14px;
    font-weight: 300;
    color: var(--grayLight);
}#lyric.subtitle {
    font-size: 14px;
    font-weight: normal;
    color: var(--grayLight);
}
#song:hover {
    color: var(--black);
    text-decoration: underline solid var(--black) 1px;
}#artist:hover {
    color: var(--black);
    /* border-bottom: 1px solid var(--black); */
    text-decoration: underline solid var(--black) 1px;
}

.highlight, .highlightArtist {
    font-weight: 400;
    color: var(--black);
    background: var(--pinkLight);
    padding-top: 0px;
    padding-bottom: 0px;
}

.tagLevel * {
    height: auto;
    margin-right: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    letter-spacing: .5px;
}
.tagLevel p{
    font-size: 16px;
    min-width: 150px;
    border-radius: 20px;
    margin: 10px;
    line-height: 90px;
}
 /* tagLevel old design
 .tagLevel p{ 
    font-weight: 800;
    font-size: 12px;
    padding: 3px 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50px;
    min-width: 50px;
    line-height: normal;
    transition: all 0.1s;
} */

@media screen and (max-width: 768px) {
    .tagLevel p {
        width: auto;
        padding-top: 0;
        margin-bottom: -5px;
        line-height: 30px;
    }
}

/* ----------------------------- ResultData.js ----------------------------- */
#result-data:hover {
    color: var(--pink)!important;
    border-bottom: none !important;
    text-decoration: underline solid var(--pink) 1px;
}
/* ----------------------------- SubData.js ----------------------------- */
#title-lyric p{ 
    margin: 0 auto;
    border-radius: 25px;
    padding-top: 0px;
    padding: 2px 25px;
    line-height: 30px;
    font-size: 14px;
} 
p#sub-data { 
    color: var(--grayLight);
    width: auto;
}
span#sub-data {
    font-weight: 400;
    color: var(--grayLight);
} #sub-data:hover {
    color: none;
    border-bottom: none;
    cursor: text;
}