.card#level {
    color: var(--grayLight);
    margin: 10px;
}.card-header {
    padding: 0 30px 30px 30px !important;
    border-radius: 20px  !important;
    border-bottom: none !important;
}.levels-link {
    text-decoration: none;
}.levelCard {
    border-radius: 20px !important;
    cursor: pointer;
    text-align: center;
}.levelCard .card-body {
    font-size: 14px !important;
}


.levelStar * {
    height: 25px;
}.levelStar {
    display: flex;
    justify-content: right;
    margin-bottom: -10px;
    margin-right: -30px;
    border-radius: 20px;
}.levelStar span{
    text-align: center;
    font-size: 16px;
    border-radius: 20px;
    margin: 10px;
    line-height: 20px;
    min-width: 70px;
}

/*
.levelStar {
    display: block;
    text-align: right;
    margin-top: 5px;
    margin-right: -30px;
    border-radius: 20px;
}.levelStar span{
    text-align: center;
    font-size: 12px;
    border-radius: 20px;
    margin: 10px;
    padding: 0px 10px 5px 10px;
}*/

.levelStar#very-difficult span, .levelStar#difficult span{
    color: var(--diffBG);
    background: var(--diffSRT);
}.levelStar#slightly-difficult span, .levelStar#so-so span{
    color: var(--intBG);
    background: var(--intSRT);
}.levelStar#easy span, .levelStar#very-easy span{
    color: var(--easyBG);
    background: var(--easySRT);
}


#sub-level {
    text-align: left;
    box-shadow: none !important;
    cursor: text;
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
    z-index: 1;
    margin: 0px!important;    
}#sub-level.card-body {
    text-align: left;
    color: var(--gray);
    background-color: var(--white);
    margin-top: 10px !important;
    border-radius: 10px;
}#sub-level.card-body span { /* break line */
    display: block;
}#sub-level .card-header {
    margin: 0px;
    margin-bottom: 30px;
}#sub-level .levelStar {
    margin-top: 30px;
    margin-bottom: -40px;
    margin-right: -10px;
}

#very-difficult, #difficult{
    color: var(--diffSRT);
    background: var(--diffBG);
}#slightly-difficult, #so-so {
    color: var(--intSRT);
    background: var(--intBG);
}#easy, #very-easy{
    color: var(--easySRT);
    background: var(--easyBG);
}

@media only screen and (max-width: 768px) {
    #sub-level {
        margin-left: 20px;
        margin-right: 20px;
    }
    .levelCard .card-body {
        font-size: 16px !important;
    }
  }

.icon {
    color: var(--grayLight);
}
#sub-level .icon {
    font-size: 30px;
    display: flex;
    float: right;
}

#very-difficult .icon, #difficult .icon, #very-difficult .score, #difficult .score{
    color: var(--diffSRT);
}#slightly-difficult .icon, #so-so .icon, #slightly-difficult .score, #so-so .score{
    color: var(--intSRT);
}#easy .icon, #very-easy .icon, #easy .score, #very-easy .score{
    color: var(--easySRT);
}


#no-level {
    color: var(--naSRT);
    background: var(--naBG);
} #no-level .icon, #no-level .score{
    color: var(--naSRT);
}