.card#level {
    color: var(--grayLight);
}.card-header {
    padding: 30px !important;
    border-radius: 20px  !important;
    border-bottom: none !important;
    margin: 20px;
}.levels-link {
    text-decoration: none;
}.levelCard {
    box-shadow: none !important;
    border-radius: 20px !important;
    cursor: pointer;
    text-align: center;
}.levelCard:hover {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 50px !important;
}.levelText {
    text-align: left;
    color: var(--grayLight);
}

#sub-level {
    box-shadow: none !important;
    cursor: text;
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
    z-index: 1;
}#sub-level .card-title.h5{
    font-size: 50px;
}#sub-level .card-subtitle.h6{
    font-size: 30px;
}#sub-level .card-header {
    padding-top: auto;
    border-radius: 20px !important;
}

#very-difficult, #difficult{
    color: var(--diffSRT);
    background: var(--diffBG);
}#slightly-difficult, #so-so {
    color: var(--intSRT);
    background: var(--intBG);
}#easy, #very-easy{
    color: var(--easySRT);
    background: var(--easyBG);
}
#tag-data {
    color: var(--pinkLight);
    background: var(--blackLight);
}

@media only screen and (max-width: 768px) {
    #sub-level {
        margin-left: 20px;
        margin-right: 20px;
    }
  }