/* ----------------------------- Lyric ----------------------------- */

.titleLyric {
  background: linear-gradient(var(--black), black);
  color: var(--white);
  padding: 40px;
}.titleLyric .info{
  display: flex;
  align-items: center;
  color: var(--grayLight);
  font-size: 16px;
}.titleLyric .info span#head{
  display: block;
  padding: 1px 10px;
  margin: 5px 10px 5px 0;
  border-radius: 25px;
  color: var(--grayLight);
  border: 1px solid var(--gray);
  font-weight: 600;
}
.info#readability, .info#search {
  display: flex;
  align-items: center;
}

.info#search button{ 
  font-size: 12px;
} .info#search svg{ 
  font-size: 20px;
} button#spotify-search, button#toggle-video {
  margin-right: 5px;
  font-size: 14px;
  padding: 2px 15px 2px 5px;
} button#spotify-search:hover {
  color: var(--black);
  background-color: var(--white);
  transition: all 0.2s cubic-bezier(.09,.64,.49,.98)
}

span#pink {
  color: var(--white);
  margin-left: 10px;
  font-weight: 400;
}
.tagLevel#title-lyric p{ /* tagLevel in title Lyric.js*/
  line-height: 28px;
  min-width: none !important;
  padding: 0px 15px !important;
  margin: 0 auto;
  font-size: 12px !important;
} 

#singer, .info #artist {
  padding: 3px 10px;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 14px;
  transition: all 0.2s;
} 
#singer {
  font-weight: 300;
  color: var(--white);
  background: rgba(255, 255, 255, 0.15);
} #singer:hover {
  background-color: #ffffff49;
} #singer.no-id {
  color: var(--grayLight) !important;
} #singer.no-id:hover {
  background-color: rgba(255, 255, 255, 0.15);
} 
.info #artist {
  font-weight: 500;
  color: var(--white);
  background: rgba(255, 255, 255, 0.15);
} .info #artist:hover {
  background-color:  #ffffff49;
  text-decoration: none !important;
}


.btn-on-lyric { /* btn change font size */
  display: flex; justify-content: left; align-items: center;
  padding: 15px 10px 5px 10px;
  border-radius: 10px;
  border: 2px solid var(--pinkPastel);
}
#size span {
  color: var(--gray);
}
#size button { 
  font-size: 16px;
  padding: 0px 20px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 50px;
  transition: all 0.25s;
}
.filters span#icon svg{
  font-size: 24px;
  margin: 0px;
  margin-right: 15px;
  color: var(--gray);
}

 /* Lyric.js */
div#lyric{
  text-align: left;
  font-weight: 300;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 1px;
}div#lyric span{
  display: inline-block;
  padding:0;margin:0;
  margin-bottom: 25px; /* line height lyric */
}

button, button:focus{
  outline: none;
  background: transparent;
  border: 1px solid transparent;
}button:active{
  outline: none;
  background: transparent;
}
button.pink-text {
  display: inline-block;
  text-decoration: none !important;
  color: #000000 !important;
  border-bottom: 1px solid var(--pink);
  padding:0;margin:0;
  font-weight: 300;
  margin-bottom: 25px; /* line height lyric */
  } button.pink-text:hover {
    color: var(--white) !important;
    text-decoration: none;
    background: var(--pink);
    cursor: pointer;
  }button.pink-text:active, button.pink-text:focus{
    color: var(--white) !important;
    background: var(--pink);
}

@media only screen and (max-width: 320px) {
  .info#readability, .info#search {
    display: inline-block;
  } 
  .titleLyric .info#readability .tagLevel p{
    zoom: 90%;
    margin-top: 2px;
    margin-left: 0px !important;
  }
}

@media only screen and (max-width: 768px) {
  .titleLyric {
    padding: 40px 0px !important;
  } .titleLyric h5 {
    font-size: 16px;
  }
  .titleLyric .info {
    display: block;
    margin-bottom: 5px;
    font-size: 14px !important;
  } .titleLyric .info span#head {
    display: inline-block;
    margin: 0 10px 5px 0;
  } .titleLyric .info button {
    margin-bottom: 5px;
    display: inline-block;
  }
  .titleLyric .info#readability .tagLevel{
    zoom: 90%;
    margin-bottom: 5px;
  }

  .btn-on-lyric { /* btn change font size */
    margin: 0 10px;
  }
  div#lyric{
    font-weight: 300;
    font-size: 14px;
    line-height: 2;
    margin-left: 10px;
  }div#lyric span{
    margin-bottom: 10px; /* line height lyric */
  }
  button.pink-text {
    margin-bottom: 10px; /* line height lyric */
  }
}

.img-song {
  text-align: right;
  margin-right: 10px;
}
.img-song img{
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 500px;
}
@media only screen and (max-width: 992px) {
  .img-song {
    margin-bottom: 30px;
    margin-right: 0px;
    text-align: center;
  }
  .img-song img{
    max-width: 100%;
    height: 100%;
    width: 200px;
  }
}

/* -------------- sidebar-dict -------------- */
#dict.card {
  color: var(--grayLight);
  border-radius: 0 !important;
  margin: 0px;
}#last-dict.card {
  color: var(--grayLight);
  border-radius: 0 0 10px 10px !important;
  margin: 0px;
}#dict .card-body, #last-dict .card-body{
  padding-left: 10px;
  padding-right: 10px;
}

.sidebar {
  position: sticky;
  text-align: left;
  top: 220px;
}/* #is-mv */
.sidebar#is-mv{
  top: 420px !important;
}
.dict-box .card {
  cursor: text !important;
  margin-top: 0px;
  border: 2px solid var(--pinkPastel) !important;
  border-top: 0 !important;
  margin-bottom: 0;
}.dict-box #header{
  background-color: var(--black);
  color: var(--white);
  padding: 15px 5px;
  margin-right: 8px;
  border-radius: 10px 10px 0 0;
}

#no-scroll {
  margin-right: 0px;
} #no-scroll span{
    margin: 0px !important;
  }#no-scroll button{
    margin-bottom: 5px;
  }
.scroll {
  overflow-y: scroll;
  height: 50vh;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}/* Track */
::-webkit-scrollbar-track {
  background: var(--white); 
}/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--pinkPastel); 
}/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--pinkPastel); 
}

.scroll .card {
  box-shadow: none !important;
}

/* ---------- TEXT FONT-SIZE ---------- */
.dict-box #header span{
  display: inline;
  font-size: 20px;
  font-weight: 500;
}.dict-box #header span#head-word{
  margin-right: 10px;
  margin-left: 10px;
}
#dictTh{
  /* font-size: 18px; */
  color: var(--pink);
}#dictEn{
  /* font-size: 14px; */
  display: block;
  font-size: 14px;
}.tagPos span{ 
  /* font-size: 12px; */
  font-size: 12px; 
  font-weight: 600;
  display: inline-block;
  padding: 3px 20px;
  margin-right: 5px;
  border-radius: 25px;
  color: var(--diffSRT);
  background: var(--diffBG);
}
.head-each-word {
  margin-bottom: 5px;
}.head-each-word #kanji{
  font-size: 18px; 
  font-weight: 500;
  color: var(--gray);
}.head-each-word #read-form{
  font-size: 16px;
  color: var(--grayLight);
}

@media only screen and (max-width: 992px) {
  ::-webkit-scrollbar {
    width: 0px !important;
  }
  .sidebar.sidebar-mobile{
    top: 51px !important;
    margin-top: -30px;
    margin-bottom: 50px;
    background-color: var(--white);
    padding: 20px 0 0 0;
    box-shadow: var(--pinkPastel) 0 10px 10px -10px;
    border-bottom: 1px solid var(--pinkPastel);
    border-radius: 10px;
  }
  /* #is-mv */
  .sidebar.sidebar-mobile#is-mv{
    top: 200px !important;
  }
  .dict-box {
    position: sticky;
    padding: 0;

  }.dict-box #header{
    margin-right: 0px !important;
    padding: 12px 5px;
  }
  .scroll {
    overflow-y: scroll;
    height: 20vh ;
  } 
  .tagPos span{ 
    font-size: 10px;
  }
}
