/* ----------------------------- Lyric ----------------------------- */

/* button change font size ---------------------------------------------------------- */

.tab-change-size {
  display: flex; justify-content: left; align-items: center;
  padding: 15px 10px 15px 10px;
  border-radius: 10px;
  border: 2px solid var(--pinkPastel);
  background: var(--pinkPastel);
}.tab-change-size span {
  color: var(--pink);
  font-weight: 800;
} .tab-change-size button {
  font-size: 16px;
  border-radius: 50px;
  transition: all 0.25s;
  margin: 0px 5px;
  padding: 0px 12px 0px 12px;
  color: var(--pink) !important;
  background: var(--white) !important;
} .tab-change-size svg{
  margin: -5px 5px 0 5px;
} .tab-change-size span svg{
  font-size: 24px;
} .btn-change-size {
  width: 280px;
}
.tab-change-size button:hover {
  color: var(--white) !important;
  background: var(--pink) !important;
}

@media only screen and (max-width: 1200px) {
  .btn-change-size.vocab {
    margin-bottom: 10px;
  } .btn-change-size.vocab #topic{
    margin-right: 5px;
  }
} @media only screen and (max-width: 992px) {
  .tab-change-size  {
    display: block;
  } .btn-change-size {
    width: auto;
  } .btn-change-size.vocab {
    margin-bottom: 0px;
  }
} @media only screen and (max-width: 768px) {
  .btn-change-size {
    width: 280px;
  } .btn-change-size.vocab {
    margin-bottom: 10px;
  } .btn-change-size.vocab #topic{
    margin-right: 5px;
  }
}


 /* lyric section ---------------------------------------------------------- */

span#pink {
  color: var(--white);
  margin-left: 10px;
  font-weight: 400;
}


div#lyric{
  text-align: left;
  font-weight: 300;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 1px;
} div#lyric span{
  display: inline-block;
  padding:0;margin:0;
  margin-bottom: 25px; /* line height lyric */
}

/* highlight user seleted word button */
button, button:focus{
  outline: none;
  background: transparent;
  border: 1px solid transparent;
  } button:active{
    outline: none;
    background: transparent;
  }

  button.pink-text {
    display: inline-block;
    text-decoration: none !important;
    color: #000000 !important;
    border-bottom: 1px solid var(--pink);
    padding:0;margin:0;
    font-weight: 300;
    margin-bottom: 25px; /* line height lyric */
    } button.pink-text:hover {
      color: var(--white) !important;
      text-decoration: none;
      background: var(--pink);
      cursor: pointer;
    } button.pink-text:active, button.pink-text:focus{
      color: var(--white) !important;
      background: var(--pink);

}


@media only screen and (max-width: 320px) {
  .info#readability, .info#search {
    display: inline-block;
  } 
  .titleLyric .info#readability .tagLevel {
    zoom: 90%;
    margin-top: 2px;
    margin-left: 0px !important;
  }
}

@media only screen and (max-width: 768px) {
  .titleLyric .title-info * {
    zoom: 99%;
  }
  .titleLyric {
    padding: 40px 0px !important;
  } .titleLyric h5 {
    font-size: 16px;
  }
  .titleLyric .info {
    display: block;
    margin-bottom: 5px;
    font-size: 14px !important;
  } .titleLyric .info span#head {
    display: inline-block;
    margin: 0 10px 5px 0;
  } .titleLyric .info button {
    margin-bottom: 5px;
    display: inline-block;
  }
  .titleLyric .info#readability .tagLevel{
    zoom: 90%;
    margin-bottom: 5px;
  }

  .btn-on-lyric { /* btn change font size */
    margin: 0 10px;
  }

  div#lyric{
    font-weight: 300;
    font-size: 14px;
    line-height: 2;
    margin-left: 10px;
  } div#lyric span{
    margin-bottom: 10px; /* line height lyric */
  }
  button.pink-text {
    margin-bottom: 10px; /* line height lyric */
  }
}
