/* ---------------- VIDEO EMBED ---------------- */
.video-container, .spotify-embed-container {
    z-index: 2000;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    left:0;
    width: 100%; 
    background: black;
    margin-top: -20px;
}
.video-frame {
    position: relative;
    width: 100%;
    height: 300px;
    margin-top: 0px;
    margin-bottom: -5px;    
}
.hide-video {
    display: none;
}

button#toggle-video {
    color: var(--white);
    background-color: var(--pink);
  } button#toggle-video.close {
    color: var(--black);
    background-color: var(--white);
  } button#toggle-video:hover, button#toggle-video.close:hover {
    color: var(--white);
    background-color: var(--pink);
    box-shadow: var(--pink) 0px 0px 8px;
    transition: all 0.2s cubic-bezier(.09,.64,.49,.98)
  }


/* ---------------- SPOTIFY EMBED ---------------- */

.spotify-embed {    
    width: 100%;
    height: 200px;
    margin-bottom: -30px;
    padding-top: 10px;
} .spotify-embed.open {
    display: flex;
} .spotify-embed.close {
    display: none;
}
.spotify-search {
    width: 100%;
}
.modal {
    z-index: 3000 !important;
}


@media only screen and (max-width: 992px) {
    .video-frame {
        width: 100%;
        max-height: 200px;
    }
}
@media only screen and (max-width: 768px) {
}
