.NavbarItems{
  background:  white ;
}

.navbar-logo {
  font-family: 'Monoton', cursive;
  font-size: 30px;
  color: #E85394;
  cursor: pointer;
}

.nav-links {
  color: #595a5c;
  padding: 5px 15px 5px 15px;
}

.nav-links:hover {
  color: #faf5f1;
  background-color: #191414;
  transition: all 0.2s ease-in-out;
}

.nav-button {
  color: #faf5f1;
  background-color: #1db954;
  padding: 5px 30px 5px 30px;
  border-radius: 50px;
}

.nav-button:hover {
  color: #faf5f1;
  background-color: #191414;
  transition: all 0.2s ease-in-out;
}

.fa-bars {
  color:#fff
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {

  .menu-icon {
    display: block;
    position: absolute;
    right: 0;
    transform: translate(-150%,20%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .menu-icon .fa-times {
    color: #595a5c;
    font-size: 2rem;
  }

  .menu-icon .fa-bars {
    color: #595a5c;
    font-size: 2rem;
  }

}

  

  