.card {
    border-radius: 20px !important;
    margin-bottom: 10px; 
/*} .card:hover { */
    border: none !important;
    border-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 50px;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px; */
}
.card-body {
    text-align: left;
}
.title { /* LINK (use link) */
    font-size: 22px;
    font-weight: 400;
    text-decoration: none;
    color: var(--gray);
}
.artist { 
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    color: var(--gray);
    padding: 0;
}button .artist { /* BUTTONS (use navigate) */
    font-weight: 400;
}
.subtitle {
    font-size: 14px;
    font-weight: 300;
    margin-left: 10px;
    color: var(--grayLight)
}
#song:hover {
    color: var(--pink);
    border-bottom: 1px solid var(--pink);
}#artist:hover {
    color: var(--blue);
    border-bottom: 1px solid var(--blue);
}

.highlight {
    font-weight: bold;
    color: var(--pink);
    background: none
}.highlightArtist {
    font-weight: bold;
    color: var(--blue);
    background: none
}

.tagLevel * {
    height: auto;
    margin-bottom: -10px;
    margin-right: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    letter-spacing: .5px;
}
.tagLevel p{
    font-weight: 500;
    font-size: 16px;
    min-width: 150px;
    border-radius: 20px;
    margin: 10px;
    line-height: 80px;
}
#title-lyric p{
    font-size: 12px;
    border-radius: 25px;
    padding-top: 0px;
    line-height: 30px;

}
 /* tagLevel old design
 .tagLevel p{ 
    font-weight: 800;
    font-size: 12px;
    padding: 3px 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50px;
    min-width: 50px;
    line-height: normal;
    transition: all 0.1s;
} */
p#very-difficult, p#difficult{
    color: var(--diffSRT);
    background: var(--diffBG);
}p#slightly-difficult, p#so-so {
    color: var(--intSRT);
    background: var(--intBG);
}p#easy, p#very-easy{
    color: var(--easySRT);
    background: var(--easyBG);
}

@media screen and (max-width: 768px) {
    .tagLevel p{
        font-weight: 500;
        font-size: 16px;
        width: auto;
        padding-top: 0;
        margin-bottom: 0;
        line-height: 30px;
    }
}

/* ----------------------------- ResultData.js ----------------------------- */
#result-artist {
    margin-left: 10px;
}#result-artist:hover {
    color: var(--pink)!important;
    border-bottom: none !important;
}

/* ----------------------------- SubArtists.js ----------------------------- */
#sub-artist:hover {
    color: none;
    border-bottom: 1px solid var(--white);
    cursor: text;
}