:root {
  --black: #333333;
  --blackLight: #353b48;
  --gray: #666666;
  --grayLight: #acacac;
  --pink: #e853af;
  --blueSky: #A3CAF8;
  --blue: #5271FF;
  --white: white;
  --pinkPastel: #FFD8F3;
  --pinkLight: #FEE9F8;
  --background: #f6f6f9;
  --green: #1db954;

  --easyBG: #D1FBE9;
  --easySRT: #0EBFBF;
  --intBG: #e6eeff;
  --intSRT: #728CFF;
  --diffBG: #FEE9F8;
  --diffSRT: #E85394;  
  --naBG: #dbdbdb;
  --naSRT: #666666;
}

.App {
  text-align: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'IBM Plex Sans Thai', sans-serif;
}

:lang(th) {
  font-family: 'Noto Sans Thai', sans-serif;
  font-family: 'IBM Plex Sans Thai', sans-serif;
}:lang(jp) {
  font-family: 'Noto Sans JP', sans-serif;
}

.pages {
  margin-top: 30px;
  margin-bottom: 50px;
}
.result-right {
  margin-top: 80px;
}
@media only screen and (max-width: 1200px) {
  .result-right {
    margin-top: 0px;
  }
} 
@media only screen and (max-width: 768px) {
  .pages {
    margin-top: 10px;
  }
}
.font-light {
  font-weight: 100 !important;
}.font-semi-light {
  font-weight: 300 !important;
}.font-semi-bold {
  font-weight: 600 !important;
}.font-bold {
  font-weight: 900 !important;
}.black-text {
  color: var(--gray);
}.gray-text {
  color: var(--grayLight);
}

img {
  max-width: 50%;  
  height: auto;  
}
img.thumbnail-image {
  max-width: 10%;  
  border-radius: 50%;
}

span.nav-button{
  font-size: 16px;
}span.nav-links{
  font-size: 16px;
}

.items-center {
  display: flex; 
  align-items: center;
}
.text-left {
  text-align: left; 
}
.header-left {
  text-align: left; 
  cursor: text;
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  z-index: 1;
  margin-bottom: 10px;
  margin-right: 20px;
} .header-left h1 {
  font-size: 48px;
} .header-left .icon {
  color: var(--pink);
} 
.description {
  padding: 20px 0px;
} .description p {
  margin-top: -9px;
  padding: 20px;
  border: var(--pink) 1px solid;
  border-radius: 0 10px 10px 10px;
} .description p.radius {
  border-radius: 10px;
} 
.spotify .description .card {
  padding: 20px 10px;
  margin-top: 0px;
} .spotify .description .underline {
  margin-bottom: 0px;
} 

.underline {
  width: auto;
  display: inline-block;
  font-size: 18px;
  font-weight: 900;
  border-radius: 20px 20px 0 0;
  padding: 10px 20px 2px 20px;
  color: #fff;
  background-color: var(--pink);
}

@media only screen and (max-width: 992px) {
  .header-left {
    margin-right: 0px;
  }
}
@media only screen and (max-width: 768px) {
  .header-left, .content{
    padding: 0 10px;
  } .header-left h1{
    font-size: 36px;
  }
}

#circle-icon {
  border-radius: 50%;
  font-size: 30px;
  color: var(--white);
  background-color: var(--pink);
  padding: 5px;
  margin-bottom: 5px;
}

.pink-link {
  color: var(--pink);
} .pink-link:hover {
  color: var(--pink);
  text-decoration: underline solid 1px var(--pink);
}

/* ----------------------------- Home ----------------------------- */

#home {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 0px 100px;
  text-align: left;
  position: relative;
}
#home h2{
  font-size: 50px;
}
#home-title {
  padding: 20px 0;
  padding-right: 50px;
}
#home #description-title {
  margin-top: 20px;
} #description-title #title {
  color: var(--pink);
}
#home-btn {
  display: flex;
  align-items: center;
  margin: 30px 0px;
}
#home-note-icon {
  font-size: 300px;
}#home-note-icon * {
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}#home-note-icon #light {
  color: var(--pinkPastel);
  height: 200px;
  width: 200px;
  top: 25%;
  left: 57%;
  transform: translate(-50%, -50%);
}#home-note-icon #bold {
  color: var(--white);
  background-color: var(--pinkPastel);
  display: flex;float: right;
  height: 400px;
  width: 400px;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1200px) {
  #home {
    padding: 0px 50px;
  }
  #home-note-icon #bold {
    top: 60%;
    left: 75%;
  }#home-note-icon #light {
    top: 25%;
    left: 80%;
  }
  #description-title {
    width: 50%;
  }
}
@media only screen and (max-width: 992px) {
  #home {
    padding: 0px 50px;
  }
  #home-note-icon #bold {
    top: 12%;
    height: 300px;
    width: 300px;
  }#home-note-icon #light {
    display: none;
  }
  #description-title {
    width: 100%;
  }
}
@media only screen and (max-width: 786px) {
  #home-title {
    padding-right: 0px;
  }
  #home {
    padding: 0px 50px;
  }
  #home-btn {
    display: block;
  }#home button{
    margin-bottom: 10px;
    zoom: 120% !important;
  }
  #home-note-icon #bold , #home-note-icon #light {
    display: none;
  } 
}

/* ----------------------------- About ----------------------------- */

.title-sources {
  margin: 20px;
  margin-top: 30px;
  margin-bottom: 0;
  font-weight: 700;
} 
.underline#about {
  padding-right: 30px;
  background-color: var(--black);
}

/* ----------------------------- ResultSpotify && Playlist ----------------------------- */

.spotify.card {
  padding: 0 10px 0 0;
}
.spotify .card-body {
  text-align: left;
  margin: 0;
  padding: 10px;
  display: block;
}
.spotify .items {
  display: flex;
  align-items: center;
  justify-content: left;
}
.spotify img {
  max-width: 100px;
  height: auto;
} .modal img {
  max-width: 80px;  
  height: auto;  
}
.spotify .card-title {
  font-size: 18px; 
  font-weight: bold;
  margin-top:10px; 
  margin-bottom:0;
  color: var(--gray);
}
.spotify .card-text {
  color: var(--grayLight);
}
.spotify .box-icon {
  margin-top: 10px;
  text-align: right;
}.spotify .icon {
  font-size: 40px; 
  color: var(--black);
  transition: all 0.2s;
}.spotify .icon:hover {
  color: var(--green);
}
.spotify .filters { /* BUTTON */
  margin: 0;
  font-size: 12px;
  display: inline-block;
}.spotify .filters button{ /* BUTTON */
  border: 1px solid  var(--black)
}
@media only screen and (max-width: 768px) {
  .spotify img {
    max-width: 80px;  
    height: auto;  
  } 
  .spotify .card-title {
    font-size: 16px; 
  }
  .spotify .card-text {
    font-size: 14px; 
  }
}

/* ----------------------------- Search ----------------------------- */

.search {
  display: flex;
  align-items: center;
  margin-bottom: 10px  !important;
} .search #button-back {
  padding: 1px 20px !important;
  font-size: 16px;
} .search h5 {
  margin: 0px !important;
  margin-right: 10px !important;
}
@media only screen and (max-width: 370px) {
  .search {
    display: block;
  } .search #button-back {
    margin: 10px 0px !important;
  }
}

.bg-search {
  background-color: var(--white);
  position: sticky;
  top: 71px;
  z-index: 10;
  box-shadow: var(--white) 0px 5px 20px;
  margin-bottom: 20px
}
.searchbar {
  height: auto;
  background-color: var(--black);
  border-radius: 30px;
  padding: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  z-index: 10;
  display: inline-block;
  width: 100%;
  text-align:center;
}
.search_input{
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 30px;
  transition: width 0.4s linear;
  padding: 0 10px;
  width: 90%;
  caret-color:var(--pinkPastel);
}
.search_input:focus {
  outline: none;
  box-shadow: none;
}
.input_icon{
  position: absolute;
  display: flex;
  font-size: 24px;
  padding: 5px;
  border-radius: 50px;
  transition: all 0.25s;
} #search_icon {
    left:7px; top:7px;
    background: #ffffff1f;
    color: var(--white);
  }#active_icon {
    left:7px; top:7px;
    background: var(--pinkPastel);
    color: var(--black);
  }#active_icon:hover {
    background: var(--pink);
    color: var(--white);
  }#clear_icon {
    position: absolute;
    right:7px; top:7px;
    color: var(--white);
  }#clear_icon:hover {
    background: #ffffff1f;
  }

@media only screen and (max-width: 768px) {
  .search_input{
    padding: 0 30px;
  }
}
/* ----------------------------- Result ----------------------------- */

.filters {
  text-align: left;
  margin: 10px;
  margin-top: 0px;
}.filters * {
  display: inline-block;
}
.filters button, .load-more button {
  cursor: pointer;
  transition: all 0.25s;
}
.filters button {
  padding: 5px 30px 1px 30px;
  margin-right: 5px;
  border-radius: 50px;
  border: 1px solid  var(--gray);
  color: var(--gray);
}.filters button:hover {
  box-shadow: var(--pinkPastel) 0px 0px 50px;
  background: var(--black);
  border: 1px solid  var(--black);
  color: var(--white);
}.filters button:focus, .filters button#focus {
  box-shadow: var(--pinkPastel) 0px 0px 50px;
  background: var(--black);
  border: 1px solid  var(--black);
  color: var(--white);
  transition: all 0.2s cubic-bezier(.09,.64,.49,.98)
}
.load-more {
  text-align: right;
  margin-right: 10px;
}.load-more button, .load-more button:focus {
  color: var(--black);
  font-weight: 700;
  padding: 10px 0px 0px 0px;
  border-bottom: 1px solid var(--black);
  transition: all 0.2s cubic-bezier(.09,.64,.49,.98);
}.load-more button:hover, .load-more button:focus:hover {
  color: var(--pink);
  border-bottom: 1px solid var(--pink);
}

@media only screen and (max-width: 768px) {
  .filters {
    margin-left: 10px;
  }.filters button {
    font-size: 14px;
    padding: 3px 5px;
    border: none;
  }.filters button:hover {
    padding: 3px 20px;
    background: var(--black);
    color: var(--white);
  }.filters button:focus, .filters button#focus {
    padding: 3px 20px;
    box-shadow: var(--pinkPastel) 0px 0px 50px;
    background: var(--black);
    color: var(--white);
    transition: all 0.2s cubic-bezier(.09,.64,.49,.98)
  }
}

.filters#size button { /* Lyric.js */
  padding: 3px 30px;
}

/* ----------------------------- Artists ----------------------------- */

.alphabet {
  text-align: left;
  margin: 10px 0 20px 0;
}.alphabet * {
  display: inline-block;
  margin-bottom: 10px;
}
.alphabet button#circle {
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.25s;
  min-width: 50px;
  margin: 10px;
  margin-left: 0px;
  padding: 10px 3px;
  border: 1px solid  var(--grayLight);
  color: var(--grayLight);
}.alphabet button#circle:hover {
  background: var(--pinkPastel);
  border: 1px solid  var(--pinkPastel);
  color: var(--black);
}.alphabet button#circle:active, .alphabet button#circle:focus {
  border: 1px solid  var(--black);
  background: var(--black);
  color: var(--white);
}
@media only screen and (max-width: 768px) {
  .alphabet button#circle {
    zoom: 80%;
  }
}

/* ----------------------------- Popup Spotify ----------------------------- */

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .banner img {
  margin: 5px;
  margin-right: 15px;
  width: 100px;
  height: auto;
 } 
 .banner span, .banner button {
  float: left; 
  margin-top: 0px;
  vertical-align: top;
  font-size: 16px;
 }.banner span#artist {
  font-size: 16px;
  color: var(--grayLight);
 }
 .banner button {
  color: var(--pinkPastel);
  background-color: #ffffff1f;
  font-size: 14px;
  border-radius: 25px !important;
  padding-top: 0px;
  padding: 8px 25px;
 }
 .banner button:hover {
  color: var(--pinkLight);
  background-color: #ffffff3d;
 }
 @media only screen and (max-width: 768px) {
  .banner {
    float: left; 
    font-size: 16px;
   } 
   .banner button {
    font-size: 12px;
    letter-spacing: 2px;
    padding: 2px 20px;
   }
   .banner img {
    width: 80px;
    height: auto;
   }
  }

/* ----------------------------- button open Spotify ----------------------------- */

#spotify-btn *{
  display: flex;
  align-items: center;
}
#spotify-btn button, #kashify-btn button, #home button {
  display: flex; align-items: center;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--white);
  padding: 2px 15px 2px 2px;
  transition: all 0.25s;
  border-radius: 25px;
}
.spotify-icon {
  font-size: 26px;
  margin-right: 10px; 
}  
button#spotify-login {
  padding: 3px 20px 3px 3px;
  background: var(--black);
} button#spotify-login:hover {
  background-color: var(--green);
}
button#spotify-open {
  font-size: 14px;
  background: var(--black);
} button#spotify-open .spotify-icon {
  font-size: 22px !important;
} button#spotify-open:hover {
  background-color: var(--green);
}

.open-spotify *{
  display: inline-block;
}

button#spotify-search {
  padding: 3px 20px 3px 3px;
  margin-top: 20px;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.15);
} button#spotify-search:hover {
  color: var(--black);
  background-color: var(--white);
}

/* ----- ResultAllModal.js ----- */
#kashify-btn button {
  color: var(--white);
  background: var(--black) !important;
} #kashify-btn button:hover {
  background: var(--pink) !important;
}
#kashify-btn button:hover>.kashify-icon  {
  color: var(--pink) !important;
}
.kashify-icon {
  display: flex;
  font-size: 20px;
  padding: 3px;
  border-radius: 50px;
  color: var(--black);
  background: var(--white) !important;
  margin-right: 5px;
}

/* ----- Home.js ----- */
#home button {
  padding: 3px 50px 3px 3px !important;
  width: auto;
  margin-right: 10px;
  font-weight: 600;
  margin-top: 10px;
}
#home button#search-btn {
  color: var(--white);
  background-color: var(--pink);
} #home button#search-btn:hover {
  box-shadow: var(--pinkPastel) 0px 0px 30px;  
} #home button#search-btn:hover>.kashify-icon  {
  color: var(--pink) !important;
} #home .kashify-icon {
  font-size: 36px;
  padding: 3px;
  margin-right: 30px;
  color: var(--pink);
  background: var(--white) !important;
}

#home button#spotify-login {
  color: var(--white);
  background: var(--black);
} #home button#spotify-login:hover {
  color: var(--white);
  background: var(--green);
  box-shadow: var(--easyBG) 0px 0px 10px;
} #home .spotify-icon {
  color: var(--white);
  font-size: 36px;
  margin-right: 30px; 
}

/* ----------------------------- Spotify Playlists & ResultSpotify  ----------------------------- */

button#search-kashify {
  display: flex;
  font-size: 20px;
  padding: 9px;
  border-radius: 50px;
  transition: all 0.25s;
} 

button#search-kashify {
  color: var(--pink) !important;
  border: 1px solid var(--pink);
  background: var(--white);
} button#search-kashify:hover {
  color: var(--white) !important;
  border: 1px solid var(--pink);
  background: var(--pink);
  box-shadow: var(--pinkLight) 0px 0px 50px;
} 

#title-popup {
  font-size: 40px;
  margin: 10px 20px 10px 10px;
}

/* ----------------------------- Modal Spotify ----------------------------- */

.modal-content {
  border: none !important;
}
.modal-header {
  padding-bottom: 20px !important;
  border: none !important;
}
.modal-body {
  padding-top: 0px !important;
}
.modal-body#result {
  overflow-y: scroll !important;
  height: 50vh !important;
  margin-bottom: 10px;
}
.tag-result {
  display: flex;
  align-items: center;
} .tag-result span {
  display: block;
  padding: 2px 12px;
  border-radius: 25px;
  font-weight: 600;
} .tag-result #title {
  margin: 0px 5px;
  color: var(--white);
  background-color: var(--grayLight)
} .tag-result #by {
  background-color: var(--white);
  border: 1px solid var(--grayLight);
  color: var(--grayLight);
}

#error-head {
  margin-left: 10px;
  width: auto;
  font-weight: 600;
  padding: 5px;
  color: var(--pink);
  border-bottom: 2px solid  var(--pink);
}
#error-body {
  font-size: 16px;
  margin-bottom: 10px;
} #error-body button{
  margin-top: 5px;
}

@media only screen and (max-width: 768px) {
  .modal-body#result {
    padding: 0;
  }
  .tag-result {
    padding: 0 10px; 
  }
}

/* ----------------------------- Spotify Callback Successes ----------------------------- */

/* ----- Modal Callback Successes ----- */
#popup-success .modal-header {
  display: block;
  text-align: center !important;
}
#icon-success {
  font-size: 50px;
  margin: 20px 0;
  color: var(--pink);
}
#popup-success .modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
#success-btn button {
  padding: 5px 30px;
  border-radius: 25px;
  font-weight: 600;
  color: var(--white);
  background-color: var(--pink);
  transition: all 0.2s cubic-bezier(.09,.64,.49,.98)

} #success-btn button:hover {
  box-shadow: var(--pinkPastel) 0px 0px 50px;
}

/* ----------- Spotify.js & Other(little) -------------- */

@media only screen and (max-width: 768px) {
  .spotify .underline {
    margin-left: 10px;
  } 
}
.spotify .description {
  padding: 10px 0 !important;
}
.spotify .underline {
  padding-right: 30px;
  background-color: var(--black);
} .spotify .description p {
  border: none;
  margin-bottom: 0;
} .spotify .card {
  cursor: text;
} 
.description #icon-spotify {
  margin-right: 10px;
  margin-bottom: 3px;
  color: var(--pink);
  font-size: 24px;
}
#playlist span{
  display: block;
  padding: 5px 10px;
  font-weight: 900 !important;
  color: var(--pink);
}
#icon-headphone {
  font-size: 24px;
  margin: 0 5px;
  margin-bottom: 3px;
}
#icon-title {
  font-size: 30px;
  padding: 5px;
  margin-bottom: 7px;
  margin-right: 7px;
  border-radius: 50px;
  transition: all 0.25s;
  color: var(--black);
  background-color: var(--pinkPastel);
}
