:root {
  --black: #333333;
  --blackLight: #353b48;
  --gray: #666666;
  --grayLight: #acacac;
  --pink: #E85394;
  --blueSky: #A3CAF8;
  --blue: #5271FF;
  --white: white;
  --pinkPastel: #FFD8F3;
  --pinkLight: #FEE9F8;
  --background: #f6f6f9;

  --easyBG: #D1FBE9;
  --easySRT: #0EBFBF;
  --intBG: #e6eeff;
  --intSRT: #728CFF;
  --diffBG: #FEE9F8;
  --diffSRT: #E85394;
}

.App {
  text-align: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
}
.font-light {
  font-weight: 100 !important;
}.font-semi-bold {
  font-weight: 500 !important;
}.font-bold {
  font-weight: 900 !important;
}.black-text {
  color: var(--gray);
}
:lang(th) {
  font-family: 'Noto Sans Thai', sans-serif;
}

img {
  max-width: 50%;  
  height: auto;  
}
img.thumbnail-image {
  max-width: 10%;  
  border-radius: 50%;
}

span.nav-button{
  font-size: 16px;
}span.nav-links{
  font-size: 16px;
}

/* ----------------------------- Search ----------------------------- */

.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: var(--black);
  border-radius: 30px;
  padding: 10px;

  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  z-index: 1;
}
.search_input{
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;
  padding: 0 10px 0 30px;
  width: 90%;
  caret-color:var(--pinkPastel);
}
.input_icon{
  position: absolute;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration:none;
  transition: all 0.25s;
} #search_icon {
    left:10px; top:10px;
    float: left;
    background: #ffffff1f;
    color: var(--white);
  }#active_icon {
    left:10px; top:10px;
    float: left;
    background: var(--pinkPastel);
    color: var(--black);
  }#active_icon:hover {
    background: var(--white);
    color: var(--pink);
  }#clear_icon {
    position: absolute;
    right:10px; top:10px;
    color: var(--white);
  }#clear_icon:hover {
    background: #ffffff1f;
  }

/* ----------------------------- Result ----------------------------- */

.filters {
  text-align: center;
  margin-bottom: 2rem;
}.filters * {
  display: inline-block;
  margin-bottom: 10px;
}
.filters button, .loadMore button {
  padding: 5px 30px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.25s;
  background: var(--white);
}.filters button {
  border: 2px solid  var(--black);
  color: var(--black);
}.loadMore button, .loadMore button:focus {
  border: 2px solid  var(--pink);
  color: var(--pink);
}.filters button:hover {
  box-shadow: var(--pinkPastel) 0px 0px 50px;
  background: var(--black);
  color: var(--white);
}.loadMore button:hover {
  box-shadow: var(--pinkPastel) 0px 10px 50px;
  background: var(--pink);
  color: var(--white);
}.filters button:active, .filters button:focus, .filters button#focus {
  box-shadow: var(--pinkPastel) 0px 0px 50px;
  background: var(--black);
  color: var(--white);
  transition: all 0.2s cubic-bezier(.09,.64,.49,.98)

}

/* ----------------------------- Artists ----------------------------- */

.filters button#circle {
  min-width: 50px;
  margin: 10px;
  padding: 9px 3px;
  border: 2px solid  var(--grayLight);
  color: var(--grayLight);
}.filters button#circle:hover {
  background: var(--grayLight);
  color: var(--white);
}.filters button#circle:active, .filters button#circle:focus {
  border: 2px solid  var(--black);
  background: var(--black);
  color: var(--white);
}

/* ----------------------------- Lyric ----------------------------- */

.titleLyric {
  background-color: var(--black);
  color: var(--white);
  padding: 50px;
}
div#lyric{
  text-align: left;
  font-weight: 300;
  line-height: 1.5;
  font-size: 20px;
  letter-spacing: 1px;
}
div#lyric span{
  display: inline-block;
  margin-bottom: 25px; /* line height lyric */
  padding:0;margin:0;
}
button.pink-text {
    display: inline-block;
  }button, button:focus{
    outline: none;
    background: transparent;
    border: 1px solid transparent;
  }button:active{
    outline: none;
    background: transparent;
  }
  button.pink-text {
    border-bottom: 1px solid var(--pink);
    padding:0;margin:0;
    font-weight: 300;
    margin-bottom: 25px; /* line height lyric */
  }button.pink-text:hover {
    color: white;
    text-decoration: none;
    background: var(--pink);
    cursor: pointer;
  }button.pink-text:active, button.pink-text:focus{
    color: white;
    background: var(--pink);
}
@media only screen and (max-width: 768px) {
  div#lyric{
    font-weight: 300;
    font-size: 16px;
    line-height: 2;
    margin-left: 10px;
  }
  button.pink-text {
    margin-bottom: 10px; /* line height lyric */
  }
}


/* -------------- sidebar-dict -------------- */
#dict.card {
  color: var(--grayLight);
  border-radius: 0 !important;
}
.sidebar .card {
  margin-top: 0px;
  border: 2px solid var(--pinkPastel) !important;
  border-radius: 0 0 0 0;
  border-top: 0 !important;
  margin-bottom: 0;
}
.sidebar {
  position: sticky;
  text-align: left;
  top: 220px;
}
#no-scroll {
  margin-right: 10px;
}
.scroll {
  overflow-y: scroll;
  height: 50vh;
}.sidebar #header{
  background-color: var(--black);
  color: var(--white);
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px 10px 0 0;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}/* Track */
::-webkit-scrollbar-track {
  background: var(--white); 
}/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--pinkPastel); 
}/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--pinkPastel); 
}

.scroll .card {
  box-shadow: none !important;
}
#dictTh {
  font-size: 18px;
  color: var(--pink);
}#dictEn {
  font-size: 16px;
}
span#tagPos{ 
  display: inline-block;
  font-weight: 600;
  font-size: 12px;
  padding: 3px 20px;
  margin-right: 5px;
  border-radius: 50px;
  min-width: 50px;
  color: var(--diffSRT);
  background: var(--diffBG);
} 

@media only screen and (max-width: 768px) {
  .sidebar {
    position: sticky;
    top: 0;
    width: auto;
  }.scroll {
    overflow-y: scroll;
    height: 30vh ;
  }
  #lyric .sidebar-mobile{
    position: sticky;
    top: 70px;
    background-color: var(--white);
    margin-top: -30px;
    margin-bottom: 50px;
    padding: 20px;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0px;
    box-shadow: var(--pinkLight) 0 10px 2px -2px;
  }
  span#tagPos{ 
    font-size: 10px;
    text-align: center;
    padding: 5px 20px !important;
    margin-right: 10px !important;
  }
  #dictTh {
    font-size: 16px;
  }#dictEn {
    font-size: 14px;
  }
}

/* ----------------------------- Popup Spotify ----------------------------- */

.banner {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20px;
 }
 .banner img {
  float: left; 
  margin: 5px;
  margin-right: 10px;
 }
 .banner span, .banner button {
  float: left; 
  margin-top: 5px;
  vertical-align: top;
  color: var(--pinkPastel);
 }
 .banner button {
  background-color: #ffffff1f;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
 }
 .banner button:hover {
  color: var(--pinkLight);
  background-color: #ffffff3d;
 }

 @media only screen and (max-width: 768px) {
  .banner {
    display: block;
    float: left; 
    font-size: 16px;
   } 
   .banner button {
    font-size: 12px;
    padding: 0.5em;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 2px;
    margin-top: 10px;
   }
  }