:root {
  --black: #333333;
  --gray: #666666;
  --pink: #E85394;
  --blue: #A3CAF8;
  --white: white;
}

.App {
  text-align: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

img {
  max-width: 50%;  
  height: auto;  
}
img.thumbnail-image {
  max-width: 10%;  
  border-radius: 50%;
}

div#lyric{
  text-align: left;
  line-height: 3;
}

span.nav-button{
  font-size: 16px;
}span.nav-links{
  font-size: 16px;
}

span.pink-text{
  border-bottom: 2px solid var(--pink);
}
span.pink-text:hover{
    color: white;
    text-decoration: none;
    background-color: var(--pink);
    cursor: pointer;
}

.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px;
}
.search_input{
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;
  padding: 0 10px;
  width: 90%;
  caret-color:var(--pink);
}
.search_icon{
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid var(--pink);
  text-decoration:none;
  background: white;
  color: var(--pink);
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.filters {
  text-align: center;
  margin-bottom: 2rem;
}
.filters * {
  display: inline-block;
}
.filters label {
  padding: 5px 30px;
  margin-right: 10px;
  border-radius: 50px;
  min-width: 50px;
  line-height: normal;
  cursor: pointer;
  transition: all 0.1s;
  border: 2px solid  var(--pink);
  color: var(--pink);
}
.filters label:hover {
  background: var(--pink);
  color: var(--white);
}